*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
}

#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 40px;
}

#nav h3{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 50px;
    margin-left: 5px;
}


#intro{
 height: 47%;
 width: 100%;
 padding: 20px 20px;   
}

#intro h1{
    font-size: 105px;
    line-height: 95px;
    letter-spacing: -2px;
    font-weight: 600;
}

#place{
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#palce h4,#place h3{
    font-size: 14px;
    font-weight: 600;
}

#person{
    height: 100%;
    width: 100%;
    background-image: url(./images/Screenshot\ 2024-03-25\ 120611.png);
    background-size: cover;
    background-position: top;
}

#about{
    width: 100%;
    height: 58%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}

#about1{
/* border: 1px solid red; */
height: 100%;
width: 60%;
display: flex;
align-items: center;
}

#about1 h2{
    width: 100%;
    font-size: 60px;
    font-weight: 600;
    line-height: 63px;
    letter-spacing: -1px;
    padding: 50px 60px 50px 20px;
}

#about2{
    /* border: 5px solid green; */
    width: 36%;
    height: 100%;
    border-left:  2px solid black;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about2 h3{
 font-size: 20px;
 font-weight: 400;
}

.icons i{ 
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 25px;
    border-radius: 50px;
    margin-right: 10px;
}

#work{
width: 100%;
height: 80%;
border-top:2px solid black ;
display: flex;
padding: 50px 30px;
/* background-color: aqua; */
}

#work1{
    /* background-color: red; */
    width: 30%;
    height: 100%;
    border-right:2px solid black ;
    display: flex;
    justify-content: space-between;
    padding-right: 50px ;
}

#work1 h3{
    font-size: 20px;
    font-weight: 600;
}

#work1 i{
    font-size: 30px;
}

#work2{
    /* background-color: blue; */
    width: 75%;
    height: 100%;
    padding-left: 15px;
}

.work2-part{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 15px 0px 30px 0;
}

.work2-part:nth-child(1){
    border-bottom: 2px solid black;
}

.work2-part .ele{
    width: 50%;
    height: 100%;
}

.work2-part .ele:nth-child(1){
    padding: 10px 30px;
}

.work2-part .ele:nth-child(2){
    padding: 10px 30px;
    border-left: 2px solid black;
}


.work2-part .ele h4{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}


.work2-part .ele p{
    font-size: 18px;
    font-weight: 500;
    color: #5a5757;
}